body {
    flex: 1;
    background-color: #EFB6C1;
    padding: 20px;
    width: auto;
    margin: auto;
    line-height: 1.4em;
    color: azure
}


h1, h2 {
    line-height: 1.4em;
    color: rgb(84, 110, 158);
}


button {
    padding: 10px;
    background-color: cornflowerblue;
    color: aliceblue;

}


#score {
    background-color: aliceblue;
    color: cornflowerblue;
    width: 250px;
    height: 100px;
    margin-top: 20px;
    padding: 25px;
}

