body {
    background-color: #00000010;
    padding: 20px;
    width: auto;
    margin: auto;
    line-height: 1.4em;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}


#questions {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 3em;
    line-height: 1.1em;
}

h1, h3 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    letter-spacing: .2em;  
    text-align: left;
    
}


h2 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .05em;  
    line-height: 1.2em;
}

h1 {
    font-size: 5em;
    line-height: 1em;
}


div {
    display: block;
    height: auto;
    margin: auto;
    max-width: 1200px;

}

#dailyScroll {
    background-color: white;
    padding: 5%;

    overflow: auto;
}

#dailyScroll h3 {
    letter-spacing: .05em;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    padding: 10px;
    margin: 10px;
}


.chartColumn {
    display: flex;
    flex: 1;
    height: auto;
    margin: 10px;
}

.button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    width: auto;
    margin: auto;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
  }
  
  .button:hover {opacity: .85}



.row {
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
}


/* .line {
    display: flex;
    width: 75%;
    height: 50px;
    border-bottom: 3px;
    border-bottom-color: #000000;
    position: aboslute;
} */


.circle {
    background: gray;
    display: flex;
    flex:1;
    margin: 20px;
    height: 3px;
    width: 50px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.timeline {
    width: 200px;
    margin: 10px;
}


.invisibleTypes:hover {
visibility: visible;
}
