body {
    background-color: plum;
    width: 100%;
    margin: auto;
    justify-content: center;

}

img {
    display:inline-flex;
    width:50%;
    margin: auto;
}

div {
display: block;
width: 100%;
margin: auto;
}

#tote {
    display:flex;
    width: 100%;
    margin: auto;
}

#water, #keys, #perfume {
    width: 50%;
    display: inline-block;
    margin:auto;
}


.invisible {
    display: none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.visible p {
    justify-content: center;
    align-content: space-between;
    display: inline-flex;
    width: 65%;
    margin: auto;
    height: auto;
    padding: 15px 30px 15px 30px;
    color: plum;
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 255, 255, .8);
    animation-name: fadeIn;
    animation-duration: 3s;
    

}

h1 {
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
    
}

footer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

footer a {
    padding: 2em;
    text-decoration: none;
    color: white;
}



@media only screen and (min-width: 600px) {
    .invisible {
        display: none;
    }
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    .visible p {
        display: inline-flex;
        justify-content: center;
        align-content: space-between;
        width: auto;
        height: auto;
        padding: 15px 30px 15px 30px;
        margin: auto;
        color: plum;
        font-family: 'Lato', sans-serif;
        background-color: rgb(255, 255, 255, .8);
        animation-name: fadeIn;
        animation-duration: 3s;
        
    
    }


    div {
        display: inline-flex;
        justify-content: center;
    align-content: space-between;
        width: 100%;
        margin: auto;
        }




}