body {
    display: block;
    width: 800px;
    margin: auto;
    justify-content: center;
    background-color: #458da3;
    color: #ffffff;
}


input {
    display: block;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    width: 300px;
    margin: auto;
}

img {

    width: 800px;
    margin:auto;
}

#button {
    width: 200px;
    color: #458da3;
    background-color: #F2B13D;
    border-style: hidden;
    align-content: center;
}


.invisible {
    display: none;
}

.visible {
    display: block;
    padding: 15px;
    color: #fff;
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-color: #F2B13D;
}


h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;

}

