.header {
    display: block;
    margin: auto;
}

input {
    display: block;
    padding: 5px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.invisible {
    display: none;
}

.visible {
    display: block;
    width: 500px;
    padding: 20px;
    color: #fff;
}



h1 {
    font-family: 'Carter One', cursive;
    font-size: 72px;
    color: #e4865a;
}

h2 {
    font-family: 'Lato', sans-serif;

}

body {

background-color: #458da3;
color: #ffffff;

}

