
body {
padding: 5%;
}

main, header, footer {
    width: 1000px;
    margin: auto;
}



.column {
    flex: 1;
    height: 400px;
    padding: 5%;
    background-color: #b2dfec;
    margin: 10px;
}


#gif1, #gif2, #gif3 {
    color: #256172; 
    height: 550px; 
}

#comp1 img, #comp2 img {
    flex: 1;
    width: 400px;
    height:auto;
}

#comp1, #comp2 {
    flex: 1;
    height:1250px;
}





#final {
    flex: 1;
    height: 700px;
    padding: 5%;
    background-color: #b2dfec;
    margin: 10px;
}



img {

    height: 300px;
    width: auto;
}

#finalSketch {
    width: auto;
    height: 600px;
}

.row {
    display: flex;
}


#backPortal {
    list-style-type: none;
    background-color: #dcf7ff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 1;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #ffffff;
}

    
#backPortal li:last-of-type {
        border-style: none;
}
    


footer {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #dcf7ff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 16pt;
}

ul li {
    font-family: 'PT Serif', serif;
    line-height: 1.5em;
    font-size: 11pt;
}


