
body {
padding: 5%;
background-color: #ff9a97;
}

main, header, footer {
    width: 1000px;
    margin: auto;
}



.column {
    flex: 1;
    height: 1300px;
    padding: 5%;
    background-color: floralwhite;
    margin: 10px;
}

img {

    height: 250px;
    width: auto;
}

#garden img {
    height: 350px;
    width: auto;
}

.row {
    display: flex;
}


#backPortal {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 1;

}

    
#backPortal li:last-of-type {
        border-style: none;
}
    


footer {
    display: flex;
    background-color: #ff9a97;
    margin: auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #7c142e;
}

h2 {
    font-size: 16pt;
}

p {
    color: #7c142e;
}



ul li {
    font-family: 'PT Serif', serif;
    line-height: 1.5em;
    font-size: 11pt;
}


